OPENROUTER_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
AZURE_ENDPOINT=
AZURE_OPENAI_API_KEY=
GOOGLE_API_KEY=
DEEPSEEK_API_KEY=

## HUB1 API (OpenAI-compatible)
HUB1_API_KEY=
HUB1_API_BASE_URL=https://hub1-api.softaibox.com/v1

## REPORT MODULE
REPORT_FOLDER=