fastapi==0.115.12
uvicorn==0.34.1
pydantic==2.10.6
pyperclip==1.9.0
langchain-openai==0.3.11
langchain-google-genai==2.1.2
langchain-core==0.3.49
lmnr[all]==0.5.2
browser-use[memory]==0.2.5
playwright==1.52.0
Pillow==11.2.1
opencv-python==4.11.0.86
gradio==5.25.2
json-repair==0.42.0
loguru==0.7.3
pyobjtojson==0.3
psycopg2-binary==2.9.12
requests>=2.28.0